<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <div>
        <img src="/assets/2024-11-06_sf_logo_512x512.png" alt="Semantic Flow" width="128">{{ title }}
    </div>
    <div id="nav">
        <a href="/index.html">Overview</a> | <a href="/getting-started/">Getting Started</a> | <a href="/command-reference/">Command Reference</a>
    </div>
    <div id="content">

    {{ content }}

    </div>
    &copy; 2024 David Richardson
    <time>created: {{ updated |> date }}</time>
  </body>
</html>